<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Actividad Semana 3 - P4</title>
        <link href="Recursos/css/Estilo.css" rel="stylesheet" type="text/css"/>
    </h:head>
    <h:body>
	<div class="content">
            <div class="container">
                <div class="example">
                    <h1>Datos del MVP</h1>
                    <h:form>
                        <label>ID:</label>
                        <h:inputText class="txt" value="#{BNbaPlayer.showMVP.id}"/>
                        <label>NOMBRE:</label>
                        <h:inputText class="txt" value="#{BNbaPlayer.showMVP.nombre}"/>
                        <label>NUMERO DE CAMISETA:</label>
                        <h:inputText class="txt" value="#{BNbaPlayer.showMVP.numero}"/>
                        <label>FRANQUICIA:</label>
                        <h:inputText class="txt" value="#{BNbaPlayer.showMVP.equipo}"/>
                        <h:commandLink class="btn" value="REGRESAR" action="index"/>
                    </h:form>
                </div>
            </div>
	</div>
    </h:body>
</html>

