*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

.content{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 80%;
}

.example{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 30px;
	width: 90%;
	margin-top: 10px;
	border-radius: 20px;
	background-color: #93b5e1;
}

.example .title{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding: 20px;
	width: 100%;
}

.example p{
    font-size: 18px;
}

.title img{
	margin-right: 40px;
	width: 100px;
}

.title h1{
	font-size: 40px;
}

.containerContent{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding: 15px;
	width: 90%;
	height: 460px;
	margin-top: 10px;
	border-radius: 20px;
	background-color: #93b5e1;
}

.lista{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	padding: 15px;
	width: 48%;
	height: 90%;
	background-color: #6f4a8e;
	border-radius: 20px;
}

.crud{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
	width: 48%;
	height: 90%;
	background-color: #6f4a8e;
	border-radius: 20px;
}

.crudOption{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 5px;
	width: 100%;
	border-radius: 20px;
	color: #FFF;
}

.add{
	background-color: #79d70f;
	border: 2px solid #79d70f;
}

.edit{
	background-color: #f5a31a;
	border: 2px solid #f5a31a;
}

.del{
	background-color: #c70039;
	border: 2px solid #c70039;
}

.crudOption:hover{
	border: 2px solid #FFF;
}

.opcs{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.control{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 48%;
}

.opc{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 7px;
	width: 100%;
}

.btn{
        text-align: center;
        text-decoration: none;
	font-size: 18px;
	border: none;
	border-radius: 10px;
	color: #FFF;
	padding: 3px;
	width: 35%;
	background-color: #481380;
}

.btn:hover{
	background-color: #2c003e;
	cursor: pointer;
}

table{
	color: #FFF;
	width: 100%;
}

td{
    text-align: center;
    padding: 5px;
}

tr:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
}

.example form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 40%;
}

.example form .txt{
    margin-bottom: 10px;
    width: 90%;
    border-radius: 10px;
    padding: 5px;
    border: none;
    text-align: center;
    font-size: 18px;
}

.fdFloatBtn{
    position: absolute;
    right: 240px;
    top: 40px;
    text-decoration: none;
    border: 2px solid #ffcd3c;
    border-radius: 10px;
    background-color: #ffcd3c;
    color: #000;
    padding: 10px;
    font-size: 18px;
}

.fdFloatBtn:hover{
    border: 2px solid #FFF;
    color: #FFF;
    background-color: #ff4301;
}
